<li
    class="flex flex-row w-2/5 text-2xl font-medium rounded-lg mx-auto my-6 p-16 bg-indigo-400 lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-indigo-400">
    <a class="w-1/2" href="/">{{title}}</a>
    <div class="w-full flex justify-end ">
        <p class=" text-lg">{{format_date date}}</p>
    </div>

</li>