<div class="flex flex-col items-center w-full ">

    <button
        class="newpost-btn my-5 w-half  bg-indigo-500 text-gray-100 p-4  rounded-full tracking-wide
                                    font-semibold  focus:outline-none focus:shadow-outline hover:bg-blue-600 shadow-lg cursor-pointer transition ease-in duration-300">
        +Create New Post
    </button>

    {{#if posts}}
    <ul class="w-full text-base text-gray-700 pt-4 lg:pt-0">
        {{#each posts as |post|}}
        {{> myposts}}
        {{/each}}

    </ul>
    {{/if}}
</div>


<script src="../../js/dashboard.js"></script>