<div class="sm:max-w-lg w-full p-10 bg-green-300 rounded-xl z-10">
    <div class="text-center">
        <h2 class="mt-5 text-3xl font-bold text-gray-900">
            Update Post
        </h2>

    </div>
    <form class="mt-8 space-y-3">
        <div class="grid grid-cols-1 space-y-2">
            <label class="text-sm font-bold text-gray-800 tracking-wide">Title</label>
            <textarea
                class="post-title text-base p-2 border border-gray-300 rounded-lg focus:outline-none focus:border-indigo-500"
                type="" placeholder="">{{post.title}}</textarea>
        </div>
        <div class="grid grid-cols-1 space-y-2">
            <label class="text-sm font-bold text-gray-800 tracking-wide">Content</label>
            <div class="flex items-center justify-center w-full">
                <label class="flex flex-col rounded-lg border border-gray-300 w-full h-60  group text-center">
                    <div
                        class="h-full w-full rounded-lg text-center flex flex-col items-center justify-center items-center  ">
                        <textarea class="post-content  p-5 bg-gray-100 sec  h-full w-full  outline-none"
                            spellcheck="false" placeholder="">{{post.content}}</textarea>
                    </div>

                </label>
            </div>
        </div>

        <div class="flex justify-center">
            <button
                class="update-btn my-5 w-half flex justify-center bg-indigo-300 text-gray-800 p-4  rounded-full tracking-wide
                                    font-semibold  focus:outline-none focus:shadow-outline hover:bg-green-300 shadow-lg cursor-pointer transition ease-in duration-300">
                Update
            </button>

        </div>
    </form>
</div>

<script src="../../js/update.js"></script>